.red{
    width: 200px;
    height: 200px;
    background-color: red;
    display: block;
}
.green{
    width: 200px;
    height: 200px;
    background-color: green;
    display: block;;
}
.blue{ 
    width: 200px;
    height: 200px;
    background-color: blue;
    display: block;
}
p{
    color: #ffffff;
}